<!-- container to hold the pie chart -->
<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>

<% content_for :javascript do %>

	var chart;
    var options  = {<%= @chart%>};

	jQuery.getJSON('/line_chart/get_ajax', null, function(data) {
		options.series.push({
			name: 'Tokyo',
			data: data
		});
		
		chart = new Highcharts.Chart(options);
	});
<% end %>

