<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>	
		<%= javascript_include_tag 'jquery-1.4.4.min', 'highcharts','modules/exporting' %>			
	</head>
	<body>
		

		<%= yield %>
		
		<script type="text/javascript">
		    $(document).ready(function() {
		        <%= yield :javascript %>
		    });
		</script>		
	</body>
</html>
